@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #f5f5f5;
  --color-surface: #ffffff;

  --color-text-primary: #0a0a0a;
  --color-text-secondary: #3f3f46;

  --color-blue-900: #0f172b;
  --color-blue-500: #2b7fff;
  --color-orange: #ec844f;
  --color-red: #fb6464;

  --color-border: #e5e7eb;
  --color-primary-shadow: #0a0a0a;

  --text-h1: 40;
  --text-h2: 32;
  --text-h3: 24;
  --text-medium: 16;
  --text-small: 12;
}

.dark {
  --color-bg: #0a0a0a;
  --color-surface: #1c1917;

  --color-text-primary: #f5f5f5;
  --color-text-secondary: #a1a1aa;

  --color-border: #27272a;
  --color-primary-shadow: #f5f5f5;
}

@layer base {
  html,
  body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
  }

  *::selection {
    background-color: var(--color-red);
    color: white;
  }

  h1,
  h2,
  h3 {
    color: var(--color-text-primary);
  }

  p,
  li {
    color: var(--color-text-primary);
  }

  h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 700;
  }

  h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 700;
  }

  h3 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
  }

  p,
  li {
    font-size: clamp(0.875rem, 2vw, 1rem);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button,
  li {
    cursor: pointer;
  }

  button:focus {
    outline: none;
  }
}

@layer utilities {
  @keyframes carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-carousel {
    animation: carousel 30s linear infinite;
  }
}
