@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


@theme {
  --color-light: #F5F5F5;
  --color-dark-900: #0A0A0A;
  --color-dark-800: #1C1917;
  --color-blue-900: #0F172B;
  --color-blue-500: #2B7FFF;
  --color-orange: #EC844F;
  --color-red: #FB6464;
  --color-shadow: #414141;

  --text-h1: 40;
  --text-h2: 32;
  --text-h3: 24;
  --text-medium: 16;
  --text-small: 12;
}

@layer base {

  html,
  body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-dark-900);
  }

  h1,h2,h3,p,b,li {
    color: var(--color-light);
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p, li {
    font-size: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button, li {
    cursor: pointer;
  }

  blockquote {
    quotes: none;
  }

}